spring:
    application:
        name: backend

    # REST Base Path
    data:
        rest:
            base-path: /api

    # MariaDB 10.11
    datasource:
        url: ${DATABASE_URL}
        username: ${DATABASE_USER}
        password: ${DATABASE_PASSWORD}
        driver-class-name: org.mariadb.jdbc.Driver
        # HikariCP Connection Pool
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
            connection-timeout: 30000
            connection-init-sql: SET time_zone = '+09:00'

    # JPA Basic Settings
    jpa:
        show-sql: false
        hibernate:
            # create, create-drop, update, validate, none
            ddl-auto: node
        properties:
            hibernate:
                format_sql: true
                use_sql_comments: true
                # JPA Performance Optimization
                jdbc:
                    batch_size: 20
        # JPA Performance Optimization
        open-in-view: false

# Server Port
server:
    port: 8080

# SQL Logging
logging:
    level:
        org:
            hibernate:
                SQL: ERROR
                type:
                    descriptor:
                        sql:
                            BasicBinder: ERROR

# Front Server URL
app:
    origin:
        frontend: https://jh0-0y.github.io/
    cookie:
        domain: localhost
        secure: false
# JWT
jwt:
    secret: ${JWT_KEY}
    # 30min = 30 * 60 * 1000(ms)
    access-token-validity: 1800000
    # 7day = 7 * 24 * 60 * 60 * 1000(ms)
    refresh-token-validity: 604800000
#
#cloud:
#    aws:
#        s3:
#            bucket: YOUR_BUCKET_NAME
#        region:
#            static: ap-northeast-2
#        credentials:
#            access-key: ${AWS_ACCESS_KEY}
#            secret-key: ${AWS_SECRET_KEY}
#        stack:
#            auto: false
#
## image upload
#image:
#    upload:
#        max-size: 10485760  # 10MB
#        allowed-extensions: jpg,jpeg,png,gif,webp
#        path-prefix: blog/images